body {
    background-color: white;
}

.nav-item a {
    color: rgb(108, 181, 204);;
}

.button-follow {
    color: white;
}

.content1  h4{
    color: rgb(86, 198, 235);
}

footer {
    background-color: #606c76;
    color: white;
}