@import url(layout.css);
@import url(color.css);

body {
    margin: 50px 100px;
    font-family: Arial, Helvetica, sans-serif;
}

/* title */
.title {
    padding-left: 40px;
}

/* navbar */
.nav {
    text-align: left;
    flex-direction: column;
}

.unordered-list {
    list-style: none;
    text-align: left;
    padding: 0px;
    height: 50px;
}

.nav-item {
    padding: 10px 0px;
    font-size: 1.2rem;
}

.button-follow {
    font-weight: bold;
}

.button-sub {
    font-weight: bold;
}

.btn {
    position: relative;
    top: 130px;
    margin: 5px 0px;
}

.button-follow {
    width: 120px;
    font-weight: bold;
}

.button-sub {
    width: 150px;
}

a {
    text-decoration: none;
}

/* content */
.carousel1 {
    height: 450px;
}

.carousel2 {
    height: 450px;
}

.carousel3 {
    height: 450px;
}

/* footer */
footer {
    height: 80px;
    border-radius: 10px;
}

.footer-content {
    padding: 10px 5px;
    font-weight: bold;
}

/* medias */
@media (min-width: 912px) and (max-width:1030px) {
    .flex-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }


    .row {
    height: 100%;
    margin: 50px 0px;
}
}

@media (max-width: 912px) {
    .grid {
        height: 700px;
    }
    
    .flex-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .content-container {
        font-size: .8rem;
        line-height: 1.2;
    }

    .content-heading {
        position: relative;
        font-size: .8rem;
        left: 20%;
    }

    .nav-item {
        font-size: 1rem;
    }

    .btn {
        font-size: 10px;
        width: auto;
    }

    .carousel-item {
        height: 100%;
    }
}