body {
    margin: 1% 1%;
}

/* title */
.back-to-blog {
    text-decoration: none;
}

/* author content */
.author-context {
    display: flex;
    flex-wrap: wrap;
}

.author-lorem {
    margin: 25px 0px;
}

.author-desc  {
    margin: 0%;
}

.author-context2-container {
    margin-left: -8px;
}

.author-context2 {
    padding: 8px 0px 8px 3px;
}

/* question */
.code-img {
    margin: 10px 0px 20px 0px;
}

.option {
    padding-left: 10px;
}

.bold-word {
    font-weight: bold;
}

/* ordered list */
.heading {
    margin: 30px 0px;
}

.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 740px 10px 1fr 1fr;
}

.social-icon {
    margin: 5px 30px;
}

/* image style */
h1 {
    font-size: 25px;
    margin-bottom: 20px;
}